<div class="row signup_row">
    <div class="col-xs-offset-2 col-xs-8">
        <p class="lead">Billing Address</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <form role="form" class="form-horizontal" id="address_signup">
            <div class="form-group">
                <label for="address_street" class="col-xs-2 control-label">Street</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control signup_field" id="address_street" placeholder="Street" name="street_address">
                </div>
            </div>
            
            <div class="form-group">
                <label for="address_city" class="col-xs-2 control-label">Town/City</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control signup_field" id="address_city" placeholder="City" name="city">
                </div>
            </div>

            <div class="form-group">
                <label for="address_country" class="col-xs-2 control-label">Country</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control signup_field" id="address_country" placeholder="Country" name="country">
                </div>
            </div>

            <div class="form-group">
                <label for="address_postcode" class="col-xs-2 control-label">Post Code</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control signup_field" id="address_postcode" placeholder="Post Code" data-toggle="tooltip" data-placement="right" data-container="body" title="Please format as XXXX XXX, e.g. YO10 5DD" name="post_code">
                </div>
            </div>
        </form>
   </div>
</div>
