<div class="row signup_row">
    <div class="col-xs-offset-2 col-xs-8">
        <p class="lead">Credit Card</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <form role="form" class="form-horizontal" id="address_signup">
            <div class="form-group">
                <label for="card_number" class="col-xs-2 control-label">Number</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control signup_field" id="card_number" placeholder="Number" inputmode="numeric" name="number">
                </div>
            </div>
            
            <div class="form-group" id="card_expiry">
                <label class="col-xs-2 control-label">Expiry</label>
                <div class="col-xs-4">
                    <select id="expiry_month" class="form-control">
                        {{for month in all_months:}}
                            <option value="{{=month[0]}}">{{=month[0]}}</option>
                        {{pass}}
                    </select>
                </div>
                
                <div class="col-xs-5">
                    <select id="expiry_year" class="form-control">
                        {{for year in all_years:}}
                            <option value="{{=year}}">{{=year}}</option>
                        {{pass}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="card_pin" class="col-xs-2 control-label">PIN</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control signup_field" id="card_pin" placeholder="PIN" inputmode="numeric" data-toggle="tooltip" data-placement="right" data-container="body" title="This is the 3 digit code on the back of your card" name="security_code">
                </div>
            </div>
        </form>
   </div>
</div>
